// 1. 定义变量(全局变量)
@bgColor: white;
@Height: 50rpx;
@Height: 50.6;
@H-Height: (@Height - 10)  + 60 * 50 + (10rpx + 80px + 30) * 60;

* {
  color: aliceblue;
}

.contain {
  background-color: @bgColor;
}

/** 测试 */
.row {
  height: @Height;
  margin-left: @Height;
}

#id:hover {
  a {
    color: #fff;
    width: 10px >= @Height;
    height: 60px / @Height;
  }
}
